@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&family=Mulish:ital,wght@0,400;0,500;1,400;1,500&display=swap');

$font-title: 'Merriweather', serif;
$font-text: 'Mulish', sans-serif;

$main-color:#fff;
$primary-color:#f9a743;
$secondary-color:#FFA500;
$text-color: #3B4045;
$title-color:#313538;
